@import '../../_assets/css/_mixins.scss';

.hero {
  height: 95vh;
  width: 100%;
  background-image:
    linear-gradient(to right bottom, rgba($brand-color, 0.6), rgba($brand-color-dark, 0.6)),
    url('../../_assets/img/hero-splash.jpg');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  .hero-splash {
    height: 100%;
    width: 100%;
  }

  .logo-container {
    text-align:left;
    padding: 20px;
    .logo {
      width: 50px;
      height: auto;
    }
  }

  .hero-heading-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .btn:link, .btn:visited {
      @include style-link-text($primary-body-color);
      display: inline-block;
      transition: all 0.2s;
      position: relative;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
      }

      &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
      }
    }

    .btn-animated {
      animation: slideFromBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
    }

    @keyframes slideFromBottom {
      0% { opacity: 0; transform: translateY(100px); }
      80% { transform: translateY(-10px); }
      100% { opacity: 1; transform: translateY(0); }
    }

    .btn-white {
      background-color: $color-white;
      &::after {
        background-color: inherit;
      }
    }

    .hero-heading {
      color: $color-white;
      text-transform: uppercase;
      font-weight: 400;
      backface-visibility: hidden;

      &-primary {
        display: block;
        font-size: 60px;
        letter-spacing: 25px;
        animation: slideFromLeft 2s ease-out;
      }

      &-sub {
        display: block;
        font-size: 20px;
        letter-spacing: 15px;
        animation: slideFromRight 2s ease-out;
        margin-bottom: 60px;
      }

      @keyframes slideFromLeft {
        0% { opacity: 0; transform: translateX(-100px); }
        80% { transform: translateX(10px); }
        100% { opacity: 1; transform: translateX(0); }
      }

      @keyframes slideFromRight {
        0% { opacity: 0; transform: translateX(100px); }
        80% { transform: translateX(-10px); }
        100% { opacity: 1; transform: translateX(0); }
      }
    }

  }
}
