@import '../abstracts/_variables.scss';

.image-gallery {
  position: relative;
  &__image {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;

    &--i1 {
      left: 0;
      top: -2rem;
    }

    &--i2 {
      left: 0;
      top: 2rem;
    }

    &--i3 {
      left: 20%;
      top: 10rem;
    }
  }
}
