#navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    padding: 25px;
    display: inline-block;
    .logo {
      display: inline;
      width: 50px;
    }
    .logo-title {
      height: 100%;
      display: inline-block;
      font-size: 30px;
      font-weight: bold;
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .option {
      font-size: 30px;
      font-weight: 800;
      padding: 10px 15px;
    }
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}
