@import '../../_assets/css/components/_feature-card.scss';
@import '../../_assets/css/abstracts/_variables.scss';

.section-features {
  padding: 20rem 0;
  background-image:
    linear-gradient(to right bottom, rgba($brand-color, 0.6), rgba($brand-color-dark, 0.6)),
    url('../../_assets/img/dog-4.jpg');
  background-size: cover;
}
