@import '../../_assets/css/main.scss';

.section-features {
  margin: -10rem auto;
  padding: 20rem 4rem;
  background-image:
    linear-gradient(to right bottom, rgba($brand-color, 0.6), rgba($brand-color-dark, 0.6)),
    url('../../_assets/img/dog-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
