@import './_assets/css/abstracts/_variables.scss';
@import './_assets/css/abstracts/_mixins.scss';
@import './_assets/css/base/_typography.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  @include typography;
  padding: 2rem;
  box-sizing: border-box;
}
