@import './_assets/css/_mixins.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  color: $primary-body-color;
  // font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  // padding: 3rem;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
